div {
    margin: 20px;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  mat-nav-list {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
  }
  
  mat-list-item {
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  mat-list-item:hover {
    background-color: #ddd;
  }