<mat-toolbar color="primary" *ngIf="isLoggedIn | async" class="toolbar">
    <mat-toolbar-row>
      <span class="logo">Game Library</span>
      <span class="spacer"></span>
      <a mat-button routerLink="/games" routerLinkActive="active">Games</a>
      <a mat-button routerLink="/genres" routerLinkActive="active">Genres</a>
      <a mat-button routerLink="/add" routerLinkActive="active">Add Game</a>
      <a mat-button routerLink="/add-genre" routerLinkActive="active">Add Genre</a>
      <button mat-icon-button (click)="logout()" class="logout-button">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>